<div class="home-container">
    <h1>Welcome to Guess the Logo!</h1>
    <h2>Short Rules</h2>
    <ul>
        <li>Recognize the logo shown on the screen</li>
        <li>Type your answer in the corresponding input box</li>
        <li>Every correct answer brings you 1 point on the scoreboard</li>
    </ul>

    <form class="settings-form" >
        <h3>Game Settings</h3>
        <div class="form-group">
            <label for="category">Select Category:</label>
            <select id="category" name="category" [(ngModel)]="category">
                <option value="default" selected>All Logos (Default)</option>
                <option value="technology">Technology</option>
                <option value="sports">Sports</option>
                <option value="food">Food & Drinks</option>
                <option value="automotive">Automotive</option>
            </select>
        </div>

        <div class="form-group">
            <label for="difficulty">Select Difficulty:</label>
            <select id="difficulty" name="difficulty" [(ngModel)]="difficulty">
                <option value="1" selected>Easy (Default)</option>
                <option value="2">Medium</option>
                <option value="3">Hard</option>
            </select>
        </div>

        <button  (click)="onSubmit()" class="button-link">Start Game</button>

    </form>

</div>