<div class="game-won-container">
    <h1 class="congratulations-message">Congratulations! 🎉</h1>
    <p class="laudatory-text">
        You have successfully guessed all the logos! Your knowledge is impressive, and you deserve the highest praise!
        🏆
    </p>
    <p class="laudatory-text">
        You've shown great focus and determination throughout the game. Every guess brought you closer to this victory,
        proving your sharp eye and memory! ✨
    </p>
    <p class="laudatory-text">
        We hope you enjoyed the challenge and feel proud of your accomplishment. You’re now part of an elite group of
        logo experts! 💪
    </p>
    <a class="button-link"  href="/home">Restart Game</a>
</div>